server:
  port: 8000

spring:
  application:
    name: gateway

  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: order
              uri: lb://ORDER
              predicates:
                - Path=/orders/**

            - id: product
              uri: lb://PRODUCT
              predicates:
                - Path=/products/**
